/* ****************************** PSEUDO-CHECKBOXES ******************************* */

/* These are stylized versions of a checked and unchecked checkbox to match Creative design. */
input[type='checkbox'].pseudo-checkbox-1 + label{
     background: url('../../images/check_box_empty.svg') no-repeat;
     background-size:20px;
     text-indent:20px;
}

input[type='checkbox']:checked.pseudo-checkbox-1 + label{
    background: url('../../images/check_box_checked.svg') no-repeat;
    background-size:20px;
    text-indent:20px;
}

/* When unchecked, the checkbox is a trash can. When checked, it's a person. */
input[type='checkbox'].pseudo-checkbox-2 + label{
     background: url('../images/trashcan.svg') no-repeat;
     background-size: 20px;
     text-indent: 22px;
}

input[type='checkbox']:checked.pseudo-checkbox-2 + label{
     background: url('../images/person.svg') no-repeat;
     background-size: 20px;
     text-indent: 22px;
 }

/* These are stylized versions of a selected and unselected radio button to match Creative design. */
.newRelationshipButtons input:checked + .pseudo-radio{
  background-image:url('../../images/radio_btn_filled.svg');
}

.pseudo-radio{
  background-image:url('../../images/radio_btn_empty.svg');
  text-indent: 22px;
    background-size:20px;
    background-repeat:no-repeat;
}
/* ****************************** HEADER ******************************* */

/* User's name in the dashboard header */
#headerName {
  font-family: Georgia;
  font-weight: bold;
  font-size: 19px;
}

/* Since profile contact channels may be long email labels, make sure they break properly if necessary */
.profileContactChannels {
  font-size: 15px
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Centers the copy to the right of the logo with the logo itself */
.headerAlign {
  white-space:nowrap;
  vertical-align:middle
}


/* ****************************** OTHER ELEMENTS ******************************* */

/* "Black box" header that labels relationships as casual or exclusive */
.blackBoxHeader {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  font-weight: 700;
  display: inline;
  color: #ffffff;
  background-color: #000000;
  position:relative;
  top:23px;
  padding: 10px 18px 13px 18px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

/* Clearfix to help with right-justified checkbox formatting and responsive design */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.floatLeft {
    float:left; 
}

/* Tooltip icon for additional information */
.infoIcon {
  float:right; 
  position:absolute; 
  top:20px; 
  right:30px;
}

.marginTop8 {
    margin-top:8px;
}

.marginTop30 {
    margin-top:30px;
}

.marginBottom8 {
    margin-bottom:8px;
}

.marginLeft15 {
    margin-left:15px;
}

.marginAuto {
    margin:auto;
}

/* style for the 'add a new relationship' form */
#newRelationshipContainer {
  border: 6px #000000 solid;
  background-color: #c168bd;
  padding:10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

#numberOfProfileContactChannels {
    color:#228b22; 
    font-weight:bold
}

.paddingLeft30 {
    padding-left:30px;
}

.pending { 
  color:#666666;
}

.profileForm {
  color:#000000; 
  background-color:#d0d0d0; 
  border: 6px solid #000000; 
  position: relative;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

/* Fixes dimensions for 'resend' icon */
.resendIcon {
  height:20px;
  width:20px;
}

/* Needed to square up the buttons in layout */
.relationshipButtons {
  width:200px;
}

/* style for the 'edit' form in relationship modules */
.relationshipForm {
  color:#000000; 
  background-color:#d0d0d0; 
  padding:5px;
  display:none; 
  z-index: 1
}

.relationshipFormCopy {
  margin: 6px;
}

/* style for the relationship modules. The color used here is different from the one used in other pages. */
.dashboardRelationshipModule {
  border: 6px #000000 solid;
  background-color: #ccad42;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

/* Alternate the color for multiple relationships */
.dashboardRelationshipModule:nth-child(even) {
  background-color: #31cfc2;
}

.requestorCheckbox {
  text-align:left; 
  font-weight: normal !important
}

/* Make the rollover for this checkbox copy match the others */
.rightJustifiedCheckboxCopy {
  cursor:default;
}

.tooltip-inner {
  padding: 8px;
}

/* ********************* RESPONSIVE DESIGN MEDIA QUERIES *********************** */
@media (max-width: 991px) {
  .relationshipRequestorName{
    text-align: center;
  }
  .relationshipCounterpartyName {
    text-align: center;
  }
  .requestorList {
    text-align: left !important;
  }
  .requestorContactForm {
    text-align: left !important;
  }
  .pseudo-checkbox-1-Label {
    text-align: left !important;
  }
  .footerText {
    margin-top: 0px;
  }
}

@media (max-width: 320px) {

}

/* Resize the "Black box" header for small screens */
@media (max-width: 480px) {  
  .blackBoxHeader  {
  font-size: 18px;
  }
}
