@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
html, body {
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    color:#000000;
    margin-top: 10px;
}


/* ****************************** SPLASH SCREEN ******************************* */

/* Splash screen element */
.splashDiv {
  background-color: #ffffff;
  text-align: center; 
  font-size:40px; 
  position: relative;
  z-index: 1050;
  background-repeat:no-repeat;
  background-position:center;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0px;
  left: 0px;
}

/* Page element on which the animals appear */
#splashBackground {
    display:table;
    width:100%;
    height:100%;
    position: absolute;
}

/* Overlay that covers the animals and provides a background for the logo */
#darkmask {
    display:table;
    width:100%;
    height:100%;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    background-repeat:no-repeat;
    background-position: center 0px;
    position: absolute;
    background-color:#000000;
}

/* ****************************** LOGOTYPE ******************************* */

/* Trustjar logo in the header*/
.logotype {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 58px;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 10px
}

.dashboardHeader {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  letter-spacing: 1px;
  line-height: 40px;
}

/* Splash screen logotype*/
.splashLogotype {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-weight:900;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* The 'TJ' in the logo is a different color. This is also used for the header logotype*/
.TJ {
  color: #df331d !important;
}


/* ****************************** MODAL DIALOGS AND SERVER ALERTS ******************************* */

.modal-content {
  border: 6px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-radius: 0px;
}

.modal-header {
    font-family: Georgia;
    font-weight: bold;
    font-size:23px;
    padding:9px 15px;
    background-color: #cccccc;
    border-bottom: 0px;
 }

.modal-body {
  padding:9px 15px;
  clear: both;
  font-weight: normal;
  border-top:2px dashed #000;
  border-bottom: 0px;
  background-color: #cccccc;
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow: hidden;
 }

.modal-footer {
  padding:9px 15px;
  background-color: #cccccc;
  border-top: 0px;
  text-align: center;
 }

/* The "X" close element in modals */
.close {
  color: #000000;
  opacity: 1;
  font-size: 30px;
}


/* The following two styles were added to resolve an issue where a bootstrap
modal overlay was offset versus an alert when both appear at the same time.
This ensures that they are properly aligned. */
.modal
{
    overflow-y: auto !important;
}

.modal-open
{
   overflow:auto !important;
   overflow-x:hidden !important;
   padding-right: 0 !important;
}

/* Alert elements */

.alert {
  background-color: #cccccc;
  border: 6px solid #000;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-radius: 0px;

}

.alert-header {
    font-family: Georgia;
    font-weight: bold;
    font-size:23px;
    padding:9px 15px 0px 9px;
    background-color: #cccccc;
    border-bottom: 0px;
}

.alertContent {
  padding:9px 15px;
  clear: both;
  font-weight: normal;
  border-top:2px dashed #000;
  border-bottom: 0px;
  background-color: #cccccc;
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow: hidden;
}

#serverAlertContainer {
  margin-top: 100px;
}


/* Style for bootstrap buttons */
.btn {
  font-family: Georgia;
  color:#000000;
  font-size: 17px;
  font-weight: bold;
  background-color:#ffffff;
  border: 2px #000000 solid;
  padding: 4px 6px 4px 6px;
  white-space: nowrap;
  border-radius: 0px;
}


.well {
  border: 6px #000000 solid;
  border-radius: 0px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.msgTypeElement {
  cursor: pointer;
}

.showHide { 
  cursor: pointer;
}

/* Checkbox styles */
input[type='checkbox'].pseudo-checkbox + label{
     background: url('../images/check_box_empty.svg') no-repeat;
     background-size: 20px;
     padding-left:25px;
}

input[type='checkbox']:checked.pseudo-checkbox + label{
    background: url('../images/check_box_checked.svg') no-repeat;
    background-size: 20px;
    padding-left:25px;
}



/* Swaps images for form elements */
.newRelationshipButtons input:checked + .pseudo-radio{
  background-image:url('../images/radio_btn_filled.svg');
}

.pseudo-radio{
  background-image:url('../images/radio_btn_empty.svg');
  text-indent: 22px;
  background-size:20px;
  background-repeat:no-repeat;
}

.relationshipModule {
  border: 6px #000000 solid;
  background-color: #c168bd;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}


.whatIsTrustjar {
  margin-top:30px;
}


.form-control, .input-group-addon{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.dashed {
  clear:both;
  border:none;
  border-top: 2px dashed #000;
  color:#fff;
  height:1px;
  margin:5px;
}

/* Header for the interior of relationship and form modules */
.boxHeader {
  font-family: Georgia;
  font-weight: bold;
  font-size:23px;
  margin-top: 0px;
}

.textRight {
  text-align:right;
}

.hidden {
  display:none;
}

h3 {
  font-weight:bold; 
  padding-bottom: 15px;
}

h4 {
    margin-top: 0px;
    font-size: 24px;
}

.signInButton {
  color:#ffffff
}

.relationshipText {
  font-weight:bold; 
  padding:10px
}

.relationshipIcon {
  font-size:50px
}

.center {
  text-align: center;
}

.warningText {     /*also used for conflict text*/
  color:#cc0000
}

.passcodeDisplay {
  font-size:20px; 
  font-weight:bold;
}

.relationshipContactContainer {
  text-align:center; 
  padding:10px; 
  border: 1px #999999 solid; 
  border-radius:5px; 
  margin-bottom:8px; 
  vertical-align:middle
}

.hidden {
    display:none;
}

.pageTemplate {
  display:none;
}

table.box {
  background-color:#EBFFEB;
  border: 1px solid #cccccc;
  border-spacing: 5px;
  display:none;
}

table.box td {
    border-top: none !important;
}


table.index td {
    border-top: none !important;
}

.splash {
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  letter-spacing: 40px;
  font-size: 60px;
  font-weight:200;
  position: fixed;
  top: 700px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000000000000;
}

.hideLabel {
    position:absolute; 
    clip:rect(1px 1px 1px 1px);
}

/*a {
  color: #386388 !important;  
}
*/
.contentTitle {
  font-family: Georgia;
  font-weight: bold;
  font-size:16px;
  margin-top: 0px;
}

/* style for the relationship modules */
.contentContainer {
  border: 3px #000000 solid;
  background-color: #ccad42;
  padding: 10px;
}
/*
.tab-content {
    border-top: 1px solid #000;
    padding: 1px;
}


.nav-tabs>li>a:hover {
    border-bottom:#none;
}

*/

/* This lengthy style ensures that tabs stack symmmetrically in smaller sizes. */
@media (max-width: 768px) {
  .nav-tabs > li { 
    float: none; 
    border: 1px solid #dddddd; 
    } 
  .nav-tabs > li.active {
    background: #eeeeee; 
  } 
  .nav-tabs > li.active > a {
    border: 1px solid transparent;
  } 
  .nav > li > a:hover, 
  .nav > li > a:focus, 
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    background: none; 
    border: 1px solid transparent; 
  } 
}

/* link style for "rules of good behavior" links */
.goodBehavior {
  color: #337ab7;
  cursor: pointer;
}

/* set the border between tabs and tab content to black */
.nav-tabs {
    border-bottom: 1px solid #000;
}

/* set the style for tabs themselves */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #fff !important;
  color:#000;
  border-top:2px solid #000;
  border-left:2px solid #000;
  border-right:2px solid #000;
  border-radius: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  padding: 30px 10px 60px 0px; 
}


#footerAnimals {
margin-right: 10px;
}

/* Formats the copyright text in the footer in accordance with Creative */
.copyrightCopy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  height: 260px;
  white-space: nowrap;
}


/* ****************************** "DISABLE CONTROLS" OVERLAY ******************************* */

/* "spinny wheel" for the disableControls overlay */
.spinnyWheel { 
    color: #ccad42;
    text-align:center;
    vertical-align: middle;
    background-color:#000000;
    border:5px solid #ffffff;
    padding-top: 25px;
    position: absolute;
    width:250px;
    height:150px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1050;
  }

/* "technical difficulties" element that appears when the disableControls overlay is active for too long */
.techDifficulties {
    padding:10px; 
    background-color:#ffffff;
    border: 6px #c168bd solid;
    position: fixed;
    width:250px;
    height:150px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1050;
  }

/* Only required for the unit test and can be removed for production*/
.unit-test-end {
    position: absolute;
    color:#000000;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color:#ffffff;
    width:250px; 
    padding:10px;
    border: solid;
    border-width: 5px;
    border-color:#990000;
    text-shadow:none;
    z-index: 1200;
  }

/* Media queries for responsive design */
@media (max-width: 320px) {
  .well{
    padding: 3px;
  }
}

@media (max-width: 991px) {
  .relationshipRequestorName{
    text-align: center;
  }
  .relationshipCounterpartyName {
    text-align: center;
  }
  .requestorList {
    text-align: left !important;
  }
  .requestorContactForm {
    text-align: left !important;
  }
  .pseudo-checkbox-1-Label {
    text-align: left !important;
  }
  .passcodeCol {
    padding-top: 14px;
  }
  .footerText {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .footerText {
    margin-top: 60px;
  }
}

@media (max-width: 639px) {
  .splashLogotype {
    font-size: 48px;
  }
  
}
@media (min-width: 640px) {
  .splashLogotype {
    font-size: 60px;
  }
}

@media (max-width: 320px) {
  .well{
    padding: 3px;
  }
}







